.album-wrapper {
    width: 100%;
    height: 100%;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--clr-neutral-100);
}

.album-controls {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.album {
    --aspect-ratio-1: 1 / 1;
    --aspect-ratio-a5: 210 / 297;

    --album-page-aspect-ratio: var(--aspect-ratio-a5);
    --album-page-border-color: black;
    --album-page-background-color: hsla(0, 0%, 90%, 1);
}

.album {
    display: flex;
    justify-content: center;
    flex-direction: row;

    width: 90%;
    height: 90%;

    gap: 0.1rem;

}