aside {
    --active-element-id: 0;
    --side-menu-size: 7rem;
}

.side-menu {
    position: relative;
    z-index: 5;

    width: auto;
    height: var(--side-menu-size);
    background-color: var(--clr-primary-100);
    transition: background-color 0.25s ease, color 0.25s ease;

    display: flex;
    flex-direction: row;

    overflow-x: auto;
    overflow-y: auto;

    .side-menu-element {
        width: var(--side-menu-size);
        height: var(--side-menu-size);
        min-height: var(--side-menu-size);
        min-width: var(--side-menu-size);

        z-index: 1;

        box-sizing: border-box;
        border: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        color: var(--clr-neutral-400);


        text-align: center;
        font-family: "Arial";
        font-weight: bold;
        font-size: 1rem;

        transition: all 0.4s ease-out;

        &[data-active="true"],
        &:hover {
            cursor: pointer;
            color: var(--clr-neutral-100);
        }

        img {
            width: 100%;
            height: auto;
            transition: transform 0.5s ease-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.05)
            }
        }

        svg {
            width: 2.5rem;
            fill: currentColor;
        }
    }
}

//Tablet & Desktop devices
@media only screen and (min-width: 560px) {
    .side-menu {
        width: var(--side-menu-size);
        height: 100%;

        display: flex;
        flex-direction: column;
    }
}