header {
    width: 100%;
    height: 5rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    background-color: var(--clr-primary-100);
    transition: background-color 0.25s ease, color 0.25s ease;

    font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--clr-neutral-300)
}