:root {
    --clr-primary-100: hsl(220, 5%, 10%);
    --clr-primary-300: hsl(220, 5%, 15%);

    --clr-neutral-900: hsla(0, 0%, 0%, 1);
    --clr-neutral-400: hsla(0, 0%, 60%, 1);
    --clr-neutral-300: hsla(0, 0%, 80%, 1);
    --clr-neutral-200: hsla(0, 0%, 90%, 1);
    --clr-neutral-100: hsla(0, 0%, 100%, 1);

    --clr-accent-100: hsl(161, 99%, 30%);
    --clr-accent-300: hsl(161, 100%, 45%);

    --ff-primary: 'Rubik', sans-serif;
    --ff-secondary: 'Arial';

    --ff-body: var(--ff-secondary);
    --fs-body: 1rem;
}

html {
    font-size: 10px;
}

html[data-theme="light"] {
    --clr-primary-100: hsl(220, 5%, 30%);
    --clr-primary-300: hsl(220, 5%, 50%);

    --clr-neutral-400: hsla(0, 0%, 90%, 1);
    --clr-neutral-300: hsla(0, 0%, 80%, 1);
    --clr-neutral-200: hsla(0, 0%, 90%, 1);
}