$side-menu-size: 70px;
$active-element-color: hsla(0, 0%, 100%, .1);


.side-menu {
    position: relative;

    width: auto;
    height: $side-menu-size;
    background: linear-gradient(30deg, #18191b, #18191b);

    display: flex;
    flex-direction: row;

    overflow-x: auto;
    overflow-y: auto;

    .side-menu-active {
        position: absolute;
        left: 0;
        top: 0;

        width: $side-menu-size;
        height: $side-menu-size;
        aspect-ratio: 1/1;

        background-color: $active-element-color;
        transition: transform .25s ease-in-out, opacity .25s ease-in-out;

        opacity: 0;
        transform: translateY(0%);
        transform: translateX(0%);

        pointer-events: none;
    }

    .side-menu-element {
        width: $side-menu-size;
        height: $side-menu-size;
        min-height: $side-menu-size;
        min-width: $side-menu-size;

        z-index: 1;

        box-sizing: border-box;
        border: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        color: hsla(0, 0%, 100%, .6);

        text-align: center;
        font-family: "Arial";
        font-weight: bold;
        font-size: 0.625rem;

        transition: all 0.4s ease-out;

        &.active,
        &:hover {
            cursor: pointer;
            color: hsla(0, 0%, 100%, .9);
        }

        img {
            width: 100%;
            height: auto;
            transition: transform 0.5s ease-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.05)
            }
        }

        svg {
            width: 1.5rem;
            fill: currentColor;



            // 
            // filter: red;
        }
    }
}

//Tablet & Desktop devices
@media only screen and (min-width: 560px) {
    .side-menu {
        width: $side-menu-size;
        height: 100%;
        background: linear-gradient(30deg, #18191b, #18191b);

        display: flex;
        flex-direction: column;

        .side-menu-active {

            &:before,
            &:after {
                content: "";

                position: absolute;
                right: 0;
                top: -10px;

                background: radial-gradient(circle closest-side, transparent 0, transparent 50%, $active-element-color 0) 200% 200% /400% 400%;
                height: 10px;
                width: 10px;
                overflow: hidden;

            }

            &:after {
                top: auto;
                bottom: -10px;
                transform: rotate(-90deg)
            }
        }
    }
}