.preview-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    background-color: var(--clr-neutral-400);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.preview-page-wrapper {
    width: 100%;
    height: 100%;

    .album-page {
        width: 100%;
        height: 100%;
        max-width: 100%;
        border: 1px solid black;
        background-color: white;

    }
}